@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #000000;
  --primary: #634ED9;
  --secondary: #ffffff;
  --profit: #6caa3c;
  --loss: #BD3C3C;
  --subtext: #6e6e6e;
  --border: #f2f3ef;
  --button: #4E3DAC;
  --header: rgb(214, 217, 205);
  --field: #d6d9cd;
  --opacity: #d2d0da;
}

.dark {
  --background: #080404;
  --foreground: #ffffff;
  --primary: #634ED9;
  --secondary: #0D0C10;
  --profit: #7DC348;
  --loss: #BD3C3C;
  --subtext: #919191;
  --border: #0D0C10;
  --button: #4E3DAC;
  --header: #292632;
  --field: #292632;
  --opacity: #211E28;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-profit: var(--profit);
  --color-loss: var(--loss);
  --color-subtext: var(--subtext);
  --color-border: var(--border);
  --color-header: var(--header);
  --color-field: var(--field);
  --color-button: var(--button);
  --color-opacity: var(--opacity);
}

/* Hide scrollbars */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.nav-active-concave {
  position: relative;
  overflow: visible;
}

.nav-active-concave::before {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 20px;
  z-index: 1;
  pointer-events: none;
  background: url('data:image/svg+xml;utf8,<svg width="100%25" height="100%25" viewBox="0 0 100 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0,20 Q50,-20 100,20" fill="white"/></svg>') no-repeat top center/100% 100%;
}
